<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ek.posbridge">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/squaresclogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenLoading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SettingsActivity" />
        <activity android:name=".UI.Dialogs.DialogActivity" />
        <activity android:name=".UI.Dialogs.DialogActivity_SalesChart" />
        <activity android:name=".UI.Dialogs.AddProductToOrderDialogFragment" />
        <activity android:name=".UI.Dialogs.DialogActivity_OrdersChart" />
        <activity android:name=".UI.Dialogs.DialogActivity_ProductList" />
        <activity android:name=".UI.Dialogs.DialogProductResponse" />
        <activity android:name=".UI.HomeActivity" />
        <activity android:name=".Square.SquarePOSChargeActivity" />
        <activity android:name=".UI.LoginActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>




    </application>

</manifest>